<header id="header">
			<div class="content">
				<h1><a href="/">EBYS+</a></h1>
				<p>Ege Üniversitesi Bilgi Yönetim Sistemi Tasarım Eklentisi</p>
				<ul class="actions">
					<li><a href="#kurulum" class="button special icon fa-download scrolly">Kurulum</a></li>
					<li><a href="#giris" class="button icon fa-chevron-down scrolly">Daha Fazla</a></li>
				</ul>
			</div>
			<div class="image laptop">
				<div class="inner">
					<div class="screen"> 
						<img src="images/login.png" alt="" />
					</div>
				</div>
			</div>
		</header>